<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>

    <style>
        body {

            background-color: #FFFFFF;
            padding: 0;
            margin: 0;
        }

        P{
            margin: 0;
            margin-bottom: 10px;
        }

        @media (max-width: 575px) {
            body {
                font-size: 14px !important;
                line-height: 28px !important;
            }

            .theme-btn {
                font-size: 14px !important;
                letter-spacing: 0 !important;
            }
        }
    </style>

</head>

<body style="background-color: #EEEEEE; padding: 0; margin: 0;font-size: 16px;color: #000000;line-height: 29px;">

    <table border="0" cellpadding="0" cellspacing="10" height="100%" bgcolor="#FFFFFF" width="100%"
        style="max-width: 650px; margin: auto; padding:0px 40px" id="bodyTable">

        <tr>

            <td align="center" valign="top">

                <table border="0" cellpadding="0" cellspacing="0" width="100%" id="emailContainer"
                    style="font-family:Arial; color: #333333;">

                    <!-- Logo -->

                    <tr>

                        <td align="left" valign="top" colspan="2" style="padding-bottom: 10px;">

                            <!-- <img alt="logo" border="0" src="<%= logo %>"  title="Vendor" /> -->
                            

                        </td>

                    </tr>

                    <!-- Title -->
                    <tr>

                        <td align="left" valign="top" colspan="2" style=" padding: 20px 0 10px 0;">

                            <span style="">Hello Abid,</span>

                        </td>

                    </tr>

                    <!-- Messages -->

                    <tr>

                        <td align="left" valign="top" colspan="2" style="padding-top: 10px;">
                            <p>hfgh</p>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <p> just ignore this message. Otherwise, you can reset your password.</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 20px 0px 20px 0px;">
                            <a href="#" class="theme-btn"
                                style="background: #4274ba;letter-spacing: 1.73px;color: #F9F9F9;
                            height: 54px;display: block; text-transform: uppercase; font-size: 18px;text-align: center;line-height: 54px;text-decoration: none;">Reset
                                Your Password</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Thanks,<br /> The Vndr Team</p>
                            <img src="https://prompthealth.ca/assets/img/logo.png" style="margin-top: 14px;" width="150">
                        </td>
                    </tr>
                </table>

            </td>

        </tr>

    </table>
    <table border="0" cellpadding="0" cellspacing="10" height="100%" bgcolor="#FFFFFF" width="100%"
        style="max-width: 650px; margin:40px auto; padding: 40px;     font-family: Arial;">

        <tr>

            <td valign="top">
                Take a step to where it needs to go.
            </td>
            <td valign="top">
                <a href="#"> <img src="<%= appBtnUrl %>"  alt="app-btn" style="max-width: 100%;"></a>
            </td>
        </tr>
    </table>
    <table border="0" cellpadding="0" cellspacing="10" height="100%" width="100%" 
        style="max-width: 650px; margin:40px auto; line-height:24px;font-size: 13px; text-align: center; color:#6C6C6C;font-family: Arial;">

        <tr>

            <td valign="top">
               <h4>STAY CONNECTED</h4>
               <a href="#" style="margin: 6px;">
                    <img src="<%= fbUrl %>" alt="social-media">
                </a>
            <a href="#" style="margin: 6px;">
                <img src="<%= instaUrl %>" alt="social-media">
            </a>
            <a href="#" style="margin: 6px;">
                <img src="<%= twUrl %>" alt="social-media">
            </a>

            <p>We are glad to see you enjoy, here's the link for 
                <a href="<%= home %>">website</a>
                <br /> © © Copyright vndr. All rights reserved.</p>
            </td>
            
        </tr>
    </table>
</body>

</html>